@font-face {
  font-family: Lifted-Sans;
  src: url(../fonts/Lifted-Sans.woff);
}

@font-face {
  font-family: Lifted-Serif;
  src: url(../fonts/Lifted-Serif.woff);
}

body {
  padding-top: 134px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Lifted-Sans, Helvetica, sans-serif;
}

img {
  border:0;
  padding:0;
  margin:0;
}

/* styles to make pixel art look better when scaled */
.pixel-art {
  image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}

#mainContainer {
  background: lavender;
}

#navbar {
  display: flex;
  justify-content: space-between;
}

#navbar a {
  font-family: Lifted-Sans, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1.25em;
}

.starter-template {
  padding: 40px 15px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.logo {
  color: white;
}